{
    db: {
        database: 'test',
        username: 'admin',
        password: 'admin',
        params: {
            host: 'localhost',
            port: 3306,
            logging: false
        }
    },
    app: {
        logger: true
    }
}
